h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 5vw;
}
div{
    background-color: #FEE715FF;
    width: 30%;
    padding: 15px;

}
div ul li {
    font-weight: 600;
    font-size: 1.2rem;
}